<header th:fragment="header-list" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container col-8 mt-3 bg-white">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/account/list" th:text="#{lbl.header.account}">Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/media/list" th:text="#{lbl.header.media}">Media</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link font-weight-bold" href="/user/list" th:text="#{lbl.header.user}">User</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link font-weight-bold" href="/process_log/list" th:text="#{lbl.header.nav.process}">Logs</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse"></div>
            <!--<div class="form-row">-->
                <!--<div class="col-md-6">-->
                    <!--<a lang="en" title="English" id="langEn">-->
                        <!--<img th:src="@{/img/en.png}"/>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<a lang="ja" title="Japanese" id="langJa">-->
                        <!--<img th:src="@{/img/ja.png}"/>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-info" href="#" id="navbardrop" data-toggle="dropdown"
                       sec:authentication="name"></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/change_password" th:text="#{lbl.user.password.change}"></a>
                        <div class="dropdown-divider"></div>
                        <form th:action="@{/j_spring_security_logout}" method="POST" th:id="form-logout">
                            <a class="dropdown-item" th:id="btn-logout" th:text="#{btn.logout}"></a>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>